.avatar {
  border: 4px solid #4ac93e;
  border-radius: 100%;
  box-shadow: 0 0 1px 11px rgb(68, 189, 57), 0 0 1px 22px rgba(62, 186, 50);
  display: inline-block;
  height: 130px;
  width: 130px;
  transform-origin: 65px 65px;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}
.avatar:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}
.hero {
  padding-bottom: 1.6667em;
  padding-top: 3.3333em;
  position: relative;
  text-align: center;
}
.heroAvatar {
  margin-bottom: 3.3333em;
}
.heroBackground {
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
  -webkit-animation-duration: 0.45s;
  animation-duration: 0.45s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInOpacity;
  animation-name: fadeInOpacity;
  background-position: center;
  background-size: cover;
  bottom: 0;
  left: 0;
  opacity: 0.15;
  position: absolute;
  right: 0;
  top: 0;
}
.heroTitle {
  font-size: 2.22rem;
  margin: 0 0 0.75em;
}
.heroWrapper {
  background: #f9f9fb;
  border-bottom: 1px solid #e5e7e9;
  margin: 0 0 3.33333em;
  position: relative;
}
.socialLinks {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
}
.socialLinks a {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 5px 0.5em;
  background: #fff;
  border-radius: 100%;
  color: #535358;
  line-height: 40px;
  position: relative;
  text-align: center;
  transition: 0.3s;
  height: 36px;
  width: 36px;
}
.socialLinks a:hover {
  background: #4ac93e;
  box-shadow: 0 0 1px 7px rgba(60, 146, 45, 0.15);
  color: #fff;
}
.socialLinks svg {
  fill: currentColor;
  height: 18px;
}

.outer {
  padding-left: 3vw;
  padding-right: 3vw;
}

@media only screen and (min-width: 1141px) {
  .outer {
    padding-left: 30px;
    padding-right: 30px;
  }
}
